{% extends 'lmn/base.html' %}
{% block content %}

<div class="row">

    <div class="col" style="text-align: center;">
        <h2 id="note_page_title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by <a href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ user.username }}</a></h2>
    </div>

</div>


<div class="row">

    <div class="col" style="text-align: center;">
        <p id="note_title"><b>{{ note.title}}</b></p>
        <p id="note_text">{{ note.text }}</b>
    </div>

</div>


<form action="{% url 'lmn:delete_note' note_pk=note.pk %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ note.pk }}">
    <button type=submit class="delete">Delete</button>

</form>

<form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

{% endblock %}
{% if request.user == note.user %}
    <a href="/link/to/view/">Delete</a>
{% endif %}



 <h3>Photo</h3>
    {% if note.photo %}
        <img src="{{ note.photo.url }}">
    {% else %}
        <P>No photo uploaded</p>
    {% endif %

{% endif %}
