{% extends 'lmn/base.html' %}
{% block content %}

<div class="row">
  <div id="venue-list-header" class="col">
      <h2>Venue List</h2>
  </div>
</div>


<div>
<div class="row">
  <div id="venue-search-p" class="col">
      <P>Venue Search</P>
  </div>
</div>


<!-- The form fields are built from the definition in forms.py -->
<div class="row">
  <div id="venue-form" class="col">
    <form action="{% url 'lmn:venue_list' %}">
      {{ form }}
      <input type='submit' value='Search'/>
    </form>
    </div>
  </div>
</div>

<div class="row">
  <div id="venue-list-title" class="col">
    {% if search_term %}
      <h2 id="venue_list_title">Venues matching '{{ search_term }}'  <a href="{% url 'lmn:venue_list' %}" id='clear_search'>clear</a></h2>
    {% else %}
      <h2 id="venue_list_title">All venues</h2>
    {% endif %}
  </div>
</div>


<div>

<div class="row">
  <div id="venue-search-results" class="col">
      {% for venue in venues %}

      <div id="venue_{{ venue.pk }}">
        <div class="row">
          <div class="col">
              <P><a href="{% url 'lmn:venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a>
                {{ venue.city }}, {{ venue.state }}</p>
          </div>

          <div class="col">
              <P>See artists, notes, and add your own <a href='{% url "lmn:artists_at_venue" venue_pk=venue.pk %}'>{{ venue.name }} notes</a></p>
          </div>
        </div>
      </div>
      
      {% empty %}
        <P>No venues found</p>
      {% endfor %}
  </div>
</div>



</div>

{% endblock %}
