{% extends 'lmn/base.html' %}
{% block content %}

<div class="row">

    <div class="col" style="text-align: center;">
        <h2 id="username_notes">Edit {{ user.username }}'s profile</h2>
        {% comment %} <form action="." method="POST" enctype="multipart/form-data"> {% endcomment %}
        <form action="{% url 'lmn:my_user_profile' user_pk=user.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
    
  </div>

{% endblock %}